<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-solid fa-map"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-solid fa-hotel"></i>
        </div>
        <div>&copy; Airbnb web pages</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>  
</footer>